$primary-color: hsl(144, 35%, 13%);
$secondary-color: hsl(131, 35%, 10%);

$color-one: hsl(144, 30%, 18%);
$color-two: hsl(60, 40%, 90%);

$color-three: hsl(36, 76%, 34%);
$color-l-three: hsl(36, 76%, 54%);
