.slider {
  background-image: url("../../../img/slider-home.jpg");
  height: 55vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.invation-container {
  background: linear-gradient(38deg, #317c34, #0e4410);
}
